.menu_container {
  display: flex;
  align-items: center;
}
.ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 20px;
  text-transform: uppercase;
}
.h2{
  background-color: #000000;
}

a {
 color: #000000;
  transition: all .3s;
}
a:hover {
  color: #704008;
}

@media (max-width: 991.98px) {
  .ul {
    display: none;
  }
  .cart {
    display: none;
  }
}